body {
    height: 100vh;
    background-image: linear-gradient(135deg, #424A76, #33395B);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px; 
    margin-bottom: 25px; 
}

.random-cocktail-button {
    margin-bottom: 25px;
}
